@{
    ViewBag.Title = "Build";
    Layout = "~/Views/Shared/_LayoutLimits.cshtml";
}
    <div class="content">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 w-25 content2" style="height: 250px;">
                <img src="~/Content/Go/imagen/Go.png" style="margin-top: 0px;" class="" height="250" alt="cemexgo">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 content3" style="padding: 0px;">
                <img src="~/Content/Go/imagen/desarrollo.jpg" width="1100" class="img-fluid" style="height: 230px;" alt="cemexgo">
            </div>
        </div>
        <div class="row content4" style="margin-left: 79px; margin-right: 75px;">
            <div class="container">
                <div class="">
                    <div class="mb-3">
                        <ul class="steps">
                            <li class="step step-active">
                                <div class="step-content">
                                    <span class="step-circle">1</span>
                                    <span class="step-text">Step 1</span>
                                </div>
                            </li>
                            <li class="step">
                                <div class="step-content">
                                    <span class="step-circle">2</span>
                                    <span class="step-text">Step 2</span>
                                </div>
                            </li>
                            <li class="step">
                                <div class="step-content">
                                    <span class="step-circle">3</span>
                                    <span class="step-text">Step 3</span>
                                </div>
                            </li>
                            <li class="step">
                                <div class="step-content">
                                    <span class="step-circle">4</span>
                                    <span class="step-text">Step 4</span>
                                </div>
                            </li>
                            <li class="step">
                                <div class="step-content">
                                    <span class="step-circle">5</span>
                                    <span class="step-text">Step 5</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="text-left" style="letter-spacing: -3px; color: #00205C; font-weight: 700;">
                    Build Your Dream
                </h1>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="text-center"
                    style="letter-spacing: -2px; color:#00205C; padding-bottom: 20px; padding-top: 20PX; font-weight: 700;">
                    let' do it!
                </h2>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 buildFormulario ">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="inputPassword6" style="margin-right:5px; font-size:20px;">Que vamos a Construir?</label>
                        <select class="form-control" id="select" name="select" style="width: 168px;">
                            <option value="div1">Casa Familiar</option>
                            <option value="div1">Casa de Descanso</option>
                            <option value="div2">Vía Nacional</option>
                            <option value="div2">Vía en mi Localidad</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="pai">
                @*<div class="row" id='div1'>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 buildFormulario">
                        <form class="form-horizontal" action="/action_page.php">
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="pwd">Área</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="control-label col-sm-3" for="pwd">Mts<sup>2</sup></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Alto</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="control-label col-sm-3" for="pwd">Mts</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="pwd">Ancho</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="control-label col-sm-3" for="pwd">Mts</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Largo</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="control-label col-sm-3" for="pwd">Mts</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="pwd">No. de Pisos</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="pwd">Clima</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="email">
                                        <option>Caluroso</option>
                                        <option>Equilibrado</option>
                                        <option>Frío</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 buildFormulario">
                        <form class="form-horizontal" action="/action_page.php">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Acceso discapcitados</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="email">
                                        <option>Si</option>
                                        <option>No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-7" for="pwd">No. de Habitaciones</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="email">No. de Pisos</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="pwd">No. de Parqueaderos</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="pwd">Jardin</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="email">
                                        <option>Si</option>
                                        <option>No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10 text-right">
                                    <a href="Design" class="button2 text-center rounded" style="margin-top: 3%;">Build</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>*@
                <div class="row" id='div2'>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 buildFormulario">
                        <form class="form-horizontal" action="/action_page.php">
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="pwd">Área</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="control-label col-sm-3" for="pwd">Mts<sup>2</sup></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Longitud</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="control-label col-sm-3" for="pwd">Mts</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="pwd">Ancho</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="control-label col-sm-3" for="pwd">Mts</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Diamento</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="control-label col-sm-3" for="pwd">Mts</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Espesor</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="control-label col-sm-3" for="pwd">Mts</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="pwd">Clima</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="email">
                                        <option>Caluroso</option>
                                        <option>Equilibrado</option>
                                        <option>Frío</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 buildFormulario">
                        <form class="form-horizontal" action="/action_page.php">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Acceso discapcitados</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="email">
                                        <option>Si</option>
                                        <option>No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-7" for="pwd">No. de Habitaciones</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="email">No. de Pisos</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group" style="margin-left:17px;">
                                <div class="custom-control custom-checkbox checkbox-lg">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-2">
                                    <label class="custom-control-label" for="checkbox-2">Incluir Base</label>
                                </div>
                            </div>

                            <div class="form-group" style="margin-left:17px;">
                                <div class="custom-control custom-checkbox checkbox-lg">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-2">
                                    <label class="custom-control-label" for="checkbox-2">Incluir Sub-Base</label>
                                </div>
                            </div>

                            <div class="form-group" style="margin-left:17px;">
                                <div class="custom-control custom-checkbox checkbox-lg">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-2">
                                    <label class="custom-control-label" for="checkbox-2">Incluir tuberia hidrosanitaria</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="pwd">Jardin</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="email">
                                        <option>Si</option>
                                        <option>No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10 text-right">
                                    <a href="Design" class="button2 text-center rounded" style="margin-top: 3%;">Build</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
