
@{
    ViewBag.Title = "Design";
    Layout = "~/Views/Shared/_LayoutLimits.cshtml";
}



    <div class="content" style="margin-bottom: 29px; ">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 w-25 content2" style="height: 250px;">
                <img src="~/Content/Go/imagen/Go.png" style="margin-top: 0px;" class="" height="250" alt="cemexgo">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 content3" style="padding: 0px;">
                <img src="~/Content/Go/imagen/desarrollo.jpg" width="1100" class="img-fluid" style="height: 230px;" alt="cemexgo">
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="text-center"
                style="letter-spacing: -2px; color:#00205C; padding-bottom: 20px; padding-top: 20PX; font-weight: 700;">
                We have pre-selected the following options for you
            </h2>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row" style="margin-left: 5%;">
                <div class="col-lg-4 ">
                    <a href="Detail">
                        <div class="row cuadro2">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <img src="~/Content/Go/imagen/Imagen1.jpg" width="260" height="207" class="" alt="cemexgo">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h6 class="etiqueta2 text-center">USD 80,000</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="Detail">
                        <div class="row cuadro2">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <img src="~/Content/Go/imagen/Imagen2.jpg" width="260" height="207" alt="cemexgo">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h6 class="etiqueta2 text-center">USD 120,000</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="Detail">
                        <div class="row cuadro2">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <img src="~/Content/Go/imagen/Imagen3.jpg" width="260" height="207" alt="cemexgo">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h6 class="etiqueta2 text-center">USD 140,000</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row" style="margin-left: 5%;">
                <div class="col-lg-4">
                    <a href="Detail">
                        <div class="row cuadro2">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <img src="~/Content/Go/imagen/Imagen7.jpg" width="260" height="207" alt="cemexgo">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h6 class="etiqueta2 text-center">USD 150,000</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="Detail">
                        <div class="row cuadro2">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <img src="~/Content/Go/imagen/Imagen8.jpg" width="260" height="207" alt="cemexgo">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h6 class="etiqueta2 text-center">USD 170,000</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="Detail">
                        <div class="row cuadro2">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <img src="~/Content/Go/imagen/Imagen9.jpg" width="260" height="207" alt="cemexgo">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h6 class="etiqueta2 text-center">USD 100,000</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
