
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutLimits.cshtml";
}

    <div class="content" style="margin-bottom: 29px; ">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 w-25 content2" style="height: 250px;">
                <img src="~/Content/Go/imagen/Go.png" style="margin-top: 0px;" class="" height="250" alt="cemexgo">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 content3" style="padding: 0px;">
                <img src="~/Content/Go/imagen/desarrollo.jpg" width="1100" class="img-fluid" style="height: 230px;" alt="cemexgo">
            </div>
        </div>
        <div class="container">
            <div class="">
                <div class="mb-3">
                    <ul class="steps">
                        <li class="step step-success">
                            <div class="step-content">
                                <span class="step-circle">1</span>
                                <span class="step-text">Step 1</span>
                            </div>
                        </li>
                        <li class="step step-success">
                            <div class="step-content">
                                <span class="step-circle">2</span>
                                <span class="step-text">Step 2</span>
                            </div>
                        </li>
                        <li class="step step-active">
                            <div class="step-content">
                                <span class="step-circle">3</span>
                                <span class="step-text">Step 3</span>
                            </div>
                        </li>
                        <li class="step">
                            <div class="step-content">
                                <span class="step-circle">4</span>
                                <span class="step-text">Step 4</span>
                            </div>
                        </li>
                        <li class="step">
                            <div class="step-content">
                                <span class="step-circle">5</span>
                                <span class="step-text">Step 5</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="text-center"
                style="letter-spacing: -2px; color:#00205C; padding-bottom: 20px; padding-top: 20PX; font-weight: 700;">
                Internal details of the selected model
            </h1>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row" style="margin-left: 205px;">
                <div class="col-lg-12">
                    <div class="row cuadro3" style="margin-left: 34px;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img src="~/Content/Go/imagen/Imagen4.jpg" style="padding-top: 13px;" class="" alt="cemexgo">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                            <a href="Budget" class="button2 text-center rounded" style="margin-top: 3%;">Next</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>