
@{
    ViewBag.Title = "ejecution";
    Layout = "~/Views/Shared/_LayoutLimits.cshtml";
}

    <div class="content" style="margin-bottom: 29px; ">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 w-25 content2" style="height: 250px;">
                <img src="~/Content/Go/imagen/Go.png" style="margin-top: 0px;" class="" height="250" alt="cemexgo">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 content3" style="padding: 0px;">
                <img src="~/Content/Go/imagen/desarrollo.jpg" width="1100" class="img-fluid" style="height: 230px;" alt="cemexgo">
            </div>
        </div>
        <div class="container">
            <div class="">
                <div class="mb-3">
                    <ul class="steps">
                        <li class="step step-success">
                            <a href="Build">
                                <div class="step-content">
                                    <span class="step-circle">1</span>
                                    <span class="step-text">Build</span>
                                </div>
                            </a>
                        </li>
                        <li class="step step-success">
                            <a href="Design">
                                <div class="step-content">
                                    <span class="step-circle">2</span>
                                    <span class="step-text">Design</span>
                                </div>
                            </a>
                        </li>
                        <li class="step step-success">
                            <a href="Detail">
                                <div class="step-content">
                                    <span class="step-circle">3</span>
                                    <span class="step-text">Details</span>
                                </div>
                            </a>
                        </li>
                        <li class="step step-active">
                            <a href="ejecution">
                                <div class="step-content">
                                    <span class="step-circle">4</span>
                                    <span class="step-text">Execution Plan</span>
                                </div>
                            </a>
                        </li>
                        <li class="step">
                            <a href="Marketplace">
                                <div class="step-content">
                                    <span class="step-circle">5</span>
                                    <span class="step-text" style="width: 90px">Marketplace</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="text-center"
                style="letter-spacing: -2px; color:#00205C; padding-bottom: 20px; padding-top: 20PX; font-weight: 700;">
                Execution Plan
            </h1>
        </div>
        <div class="">
            <div class="mb-3">
                <ul class="steps">
                    <li class="step step-active">
                        <div class="step-content">
                            <span class="step-circle">1</span>
                            <span class="step-text">Budget</span>
                        </div>
                    </li>
                    <li class="step ">
                        <div class="step-content">
                            <span class="step-circle">2</span>
                            <span class="step-text">Supply plan</span>
                        </div>
                    </li>
                    <li class="step ">
                        <div class="step-content">
                            <span class="step-circle">3</span>
                            <span class="step-text">Schedule</span>
                        </div>
                    </li>
                    <li class="step ">
                        <div class="step-content">
                            <span class="step-circle">4</span>
                            <span class="step-text">Follow Up</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row" style="margin-left: 205px;">
                <div class="col-lg-12">
                    <div class="row cuadro7">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <table>
                                <thead>
                                    <tr>
                                        <td><b>Item</b></td>
                                        <td><b>Material</b></td>
                                        <td><b>Unidad</b></td>
                                        <td><b>Cantidad</b></td>
                                        <td><b>Valor Unitario</b></td>
                                        <td><b>Valor Total</b></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td><a href="MarketPlace#cemento">CEMENTO</a></td>
                                        <td>bls</td>
                                        <td>70</td>
                                        <td>700</td>
                                        <td>14000</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><a href="MarketPlace#concreto">CONCRETO</a></td>
                                        <td>m3</td>
                                        <td>40</td>
                                        <td>400</td>
                                        <td>8000</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><a href="MarketPlace#tuberia">TUBERIA HIDROSANITARIA</a></td>
                                        <td>m</td>
                                        <td>50</td>
                                        <td>500</td>
                                        <td>25000</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td><a href="MarketPlace#movientotierra">MOVIMIENTO DE TIERRA</a></td>
                                        <td>m3</td>
                                        <td>60</td>
                                        <td>600</td>
                                        <td>12000</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td><a href="MarketPlace">CEMENTO</a></td>
                                        <td>bls</td>
                                        <td>70</td>
                                        <td>700</td>
                                        <td>14000</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td><a href="MarketPlace">ALAMBRE NEGRO #8</a></td>
                                        <td>kg</td>
                                        <td>80</td>
                                        <td>800</td>
                                        <td>64000</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><a href="MarketPlace">MADERA TORNILLO</a></td>
                                        <td>p2</td>
                                        <td>40</td>
                                        <td>400</td>
                                        <td>8000</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><a href="MarketPlace">YESO EN BOLSAS DE 25 kg</a></td>
                                        <td>bls</td>
                                        <td>50</td>
                                        <td>500</td>
                                        <td>25000</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td><a href="MarketPlace">ARENA FINA</a></td>
                                        <td>m3</td>
                                        <td>60</td>
                                        <td>600</td>
                                        <td>12000</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td><a href="MarketPlace">CEMENTO</a></td>
                                        <td>bls</td>
                                        <td>70</td>
                                        <td>700</td>
                                        <td>14000</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td><a href="MarketPlace">ALAMBRE NEGRO #8</a></td>
                                        <td>kg</td>
                                        <td>80</td>
                                        <td>800</td>
                                        <td>64000</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td><a href="MarketPlace">MADERA TORNILLO</a></td>
                                        <td>p2</td>
                                        <td>40</td>
                                        <td>400</td>
                                        <td>8000</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td><a href="MarketPlace">YESO EN BOLSAS DE 25 kg</a></td>
                                        <td>bls</td>
                                        <td>50</td>
                                        <td>500</td>
                                        <td>25000</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td><a href="MarketPlace">ARENA FINA</a></td>
                                        <td>m3</td>
                                        <td>60</td>
                                        <td>600</td>
                                        <td>12000</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td><a href="MarketPlace">CEMENTO</a></td>
                                        <td>bls</td>
                                        <td>70</td>
                                        <td>700</td>
                                        <td>14000</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td><a href="MarketPlace">ALAMBRE NEGRO #8</a></td>
                                        <td>kg</td>
                                        <td>80</td>
                                        <td>800</td>
                                        <td>64000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                            <a href="icopor" class="button2 text-center rounded" style="margin-top: 3%;">Next</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

