
@{
    ViewBag.Title = "Gatt";
    Layout = "~/Views/Shared/_LayoutLimits.cshtml";
}

<h2>Gatt</h2>


@{
    ViewBag.Title = "ejecution";
    Layout = "~/Views/Shared/_LayoutLimits.cshtml";
}

<div class="content" style="margin-bottom: 29px; ">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 w-25 content2" style="height: 250px;">
            <img src="~/Content/Go/imagen/Go.png" style="margin-top: 0px;" class="" height="250" alt="cemexgo">
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 content3" style="padding: 0px;">
            <img src="~/Content/Go/imagen/desarrollo.jpg" width="1100" class="img-fluid" style="height: 230px;" alt="cemexgo">
        </div>
    </div>
    <div class="container">
        <div class="">
            <div class="mb-3">
                <ul class="steps">
                    <li class="step step-success">
                        <a href="Build">
                            <div class="step-content">
                                <span class="step-circle">1</span>
                                <span class="step-text">Build</span>
                            </div>
                        </a>
                    </li>
                    <li class="step step-success">
                        <a href="Design">
                            <div class="step-content">
                                <span class="step-circle">2</span>
                                <span class="step-text">Design</span>
                            </div>
                        </a>
                    </li>
                    <li class="step step-success">
                        <a href="Detail">
                            <div class="step-content">
                                <span class="step-circle">3</span>
                                <span class="step-text">Details</span>
                            </div>
                        </a>
                    </li>
                    <li class="step step-active">
                        <a href="ejecution">
                            <div class="step-content">
                                <span class="step-circle">4</span>
                                <span class="step-text">Execution Plan</span>
                            </div>
                        </a>
                    </li>
                    <li class="step">
                        <a href="Marketplace">
                            <div class="step-content">
                                <span class="step-circle">5</span>
                                <span class="step-text" style="width: 90px">Marketplace</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="text-center"
            style="letter-spacing: -2px; color:#00205C; padding-bottom: 20px; padding-top: 20PX; font-weight: 700;">
            Execution Plan
        </h1>
    </div>
    <div class="">
        <div class="mb-3">
            <ul class="steps">
                <li class="step step-success">
                    <a href="ejecution">
                        <div class="step-content">
                            <span class="step-circle">1</span>
                            <span class="step-text">Budget</span>
                        </div>
                    </a>
                </li>
                <li class="step step-success">
                    <a href="icopor">
                        <div class="step-content">
                            <span class="step-circle">2</span>
                            <span class="step-text" style="width: 90px;">Supply plan</span>
                        </div>
                    </a>
                </li>
                <li class="step step-active">
                    <a href="Gatt">
                        <div class="step-content">
                            <span class="step-circle">3</span>
                            <span class="step-text">Schedule</span>
                        </div>
                    </a>
                </li>
                <li class="step ">
                    <a href="Seguimiento">
                        <div class="step-content">
                            <span class="step-circle">4</span>
                            <span class="step-text">Follow Up</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row" style="margin-left: 5px;">
            <div class="col-lg-12">
                <div class="row cuadro9">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                                   aria-selected="true">PRELIMINARE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                                   aria-selected="false">URBANISMO EXTERNO</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                                   aria-selected="false">ESTRUCTURA</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#ENCHAPE" role="tab" aria-controls="contact"
                                   aria-selected="false">ACABADO ETAPA 1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#VENTANA" role="tab" aria-controls="contact"
                                   aria-selected="false">ACABADO ETAPA 2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#SANITARIO" role="tab" aria-controls="contact"
                                   aria-selected="false">ACABADO ETAPA 3</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#SANITARIO" role="tab" aria-controls="contact"
                                   aria-selected="false">ACABADO ETAPA 4</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#SANITARIO" role="tab" aria-controls="contact"
                                   aria-selected="false">ACABADO ETAPA 5</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <img src="~/Content/Go/imagen/primera.png"  style="padding-top: 13px; margin-left: 6px; width: 1210px;" class="" alt="cemexgo">
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <img src="~/Content/Go/imagen/Segundo.png" style="padding-top: 13px; margin-left: 6px; width: 1210px;" class="" alt="cemexgo">
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <img src="~/Content/Go/imagen/Tercero.png" style="padding-top: 13px; margin-left: 6px; width: 1210px;" class="" alt="cemexgo">
                            </div>
                            <div class="tab-pane fade" id="ENCHAPE" role="tabpanel" aria-labelledby="contact-tab">
                                <img src="~/Content/Go/imagen/Cuarto.png" style="padding-top: 13px; margin-left: 6px; width: 1210px;" class="" alt="cemexgo">
                            </div>
                            <div class="tab-pane fade" id="VENTANA" role="tabpanel" aria-labelledby="contact-tab">
                                <img src="~/Content/Go/imagen/Quinto.png" style="padding-top: 13px; width: 1210px;" class="" alt="cemexgo">
                            </div>
                            <div class="tab-pane fade" id="SANITARIO" role="tabpanel" aria-labelledby="contact-tab">
                                <img src="~/Content/Go/imagen/Sexto.png" style="padding-top: 13px; width: 1210px;" class="" alt="cemexgo">
                            </div>
                            <div class="tab-pane fade" id="VENTANA" role="tabpanel" aria-labelledby="contact-tab">
                                <img src="~/Content/Go/imagen/Sectimo.png" style="padding-top: 13px; width: 1210px;" class="" alt="cemexgo">
                            </div>
                            <div class="tab-pane fade" id="SANITARIO" role="tabpanel" aria-labelledby="contact-tab">
                                <img src="~/Content/Go/imagen/Octavo.png" style="padding-top: 13px; width: 1210px;" class="" alt="cemexgo">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                        <a href="Seguimiento" class="button2 text-center rounded" style="margin-top: 3%;">Next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

