
@{
    ViewBag.Title = "icopor";
    Layout = "~/Views/Shared/_LayoutLimits.cshtml";
}

    <div class="content" style="margin-bottom: 29px; ">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 w-25 content2" style="height: 250px;">
                <img src="~/Content/Go/imagen/Go.png" style="margin-top: 0px;" class="" height="250" alt="cemexgo">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 content3" style="padding: 0px;">
                <img src="~/Content/Go/imagen/desarrollo.jpg" width="1100" class="img-fluid" style="height: 230px;" alt="cemexgo">
            </div>
        </div>
        <div class="container">
            <div class="">
                <div class="mb-3">
                    <ul class="steps">
                        <li class="step step-success">
                            <a href="Build">
                                <div class="step-content">
                                    <span class="step-circle">1</span>
                                    <span class="step-text">Build</span>
                                </div>
                            </a>
                        </li>
                        <li class="step step-success">
                            <a href="Design">
                                <div class="step-content">
                                    <span class="step-circle">2</span>
                                    <span class="step-text">Design</span>
                                </div>
                            </a>
                        </li>
                        <li class="step step-success">
                            <a href="Detail">
                                <div class="step-content">
                                    <span class="step-circle">3</span>
                                    <span class="step-text">Details</span>
                                </div>
                            </a>
                        </li>
                        <li class="step step-active">
                            <a href="ejecution">
                                <div class="step-content">
                                    <span class="step-circle">4</span>
                                    <span class="step-text">Execution Plan</span>
                                </div>
                            </a>
                        </li>
                        <li class="step">
                            <a href="Marketplace">
                                <div class="step-content">
                                    <span class="step-circle">5</span>
                                    <span class="step-text" style="width: 90px">Marketplace</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="text-center"
                style="letter-spacing: -2px; color:#00205C; padding-bottom: 20px; padding-top: 20PX; font-weight: 700;">
                Supply plan
            </h1>
        </div>
        <div class="">
            <div class="mb-3">
                <ul class="steps">
                    <li class="step step-success">
                        <a href="ejecution">
                            <div class="step-content">
                                <span class="step-circle">1</span>
                                <span class="step-text">Budget</span>
                            </div>
                        </a>
                    </li>
                    <li class="step step-active">
                        <a href="icopor">
                            <div class="step-content">
                                <span class="step-circle">2</span>
                                <span class="step-text" style="width: 90px;">Supply plan</span>
                            </div>
                        </a>
                    </li>
                    <li class="step ">
                        <a href="Gatt">
                            <div class="step-content">
                                <span class="step-circle">3</span>
                                <span class="step-text">Schedule</span>
                            </div>
                        </a>
                    </li>
                    <li class="step ">
                        <a href="Seguimiento">
                            <div class="step-content">
                                <span class="step-circle">4</span>
                                <span class="step-text">Follow Up</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row" style="margin-left: 5px;">
                <div class="col-lg-12">
                    <div class="row cuadro9">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                                       aria-selected="true">ICOPOR</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                                       aria-selected="false">POLIETILENO</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                                       aria-selected="false">CUBIERTA</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#ENCHAPE" role="tab" aria-controls="contact"
                                       aria-selected="false">ENCHAPE</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#VENTANA" role="tab" aria-controls="contact"
                                       aria-selected="false">VENTANA</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#SANITARIO" role="tab" aria-controls="contact"
                                       aria-selected="false">SANITARIO</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <img src="~/Content/Go/imagen/icopor.png" style="padding-top: 13px; margin-left: 174px;" class="" alt="cemexgo">
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <img src="~/Content/Go/imagen/Polietileno.png" style="padding-top: 13px; margin-left: 96px;" class="" alt="cemexgo">
                                </div>
                                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                    <img src="~/Content/Go/imagen/cubierta.png" style="padding-top: 13px; margin-left: 71px;" class="" alt="cemexgo">
                                </div>
                                <div class="tab-pane fade" id="ENCHAPE" role="tabpanel" aria-labelledby="contact-tab">
                                    <img src="~/Content/Go/imagen/enchapes.png" style="padding-top: 13px; margin-left: 45px;" class="" alt="cemexgo">
                                </div>
                                <div class="tab-pane fade" id="VENTANA" role="tabpanel" aria-labelledby="contact-tab">
                                    <img src="~/Content/Go/imagen/ventana.png" style="padding-top: 13px;" class="" alt="cemexgo">
                                </div>
                                <div class="tab-pane fade" id="SANITARIO" role="tabpanel" aria-labelledby="contact-tab">
                                    <img src="~/Content/Go/imagen/sanitario.png" style="padding-top: 13px;" class="" alt="cemexgo">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                            <a href="Gatt" class="button2 text-center rounded" style="margin-top: 3%;">Next</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


