
@{
    ViewBag.Title = "MarketPlace";
    Layout = "~/Views/Shared/_LayoutLimits.cshtml";
}
    <div class="content" style="margin-bottom: 29px; ">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 w-25 content2" style="height: 250px;">
                <img src="~/Content/Go/imagen/Go.png" style="margin-top: 0px;" class="" height="250" alt="cemexgo">
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 content3" style="padding: 0px;">
                <img src="~/Content/Go/imagen/desarrollo.jpg" width="1100" class="img-fluid" style="height: 230px;" alt="cemexgo">
            </div>
        </div>
        <div class="container">
            <div class="">
                <div class="mb-3">
                    <ul class="steps">
                        <li class="step step-success">
                            <a href="Build">
                                <div class="step-content">
                                    <span class="step-circle">1</span>
                                    <span class="step-text">Build</span>
                                </div>
                            </a>
                        </li>
                        <li class="step step-success">
                            <a href="Design">
                                <div class="step-content">
                                    <span class="step-circle">2</span>
                                    <span class="step-text">Design</span>
                                </div>
                            </a>
                        </li>
                        <li class="step step-success">
                            <a href="Detail">
                                <div class="step-content">
                                    <span class="step-circle">3</span>
                                    <span class="step-text">Details</span>
                                </div>
                            </a>
                        </li>
                        <li class="step step-success">
                            <a href="ejecution">
                                <div class="step-content">
                                    <span class="step-circle">4</span>
                                    <span class="step-text">Execution Plan</span>
                                </div>
                            </a>
                        </li>
                        <li class="step step-active">
                            <a href="Marketplace">
                                <div class="step-content">
                                    <span class="step-circle">5</span>
                                    <span class="step-text" style="width: 90px">Marketplace</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="text-center"
                style="letter-spacing: -2px; color:#00205C; padding-bottom: 20px; padding-top: 20PX; font-weight: 700;">
                Cemex Marketplace
            </h1>
        </div>
        <div class="contenedor">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="margin-right: 8%;">
                        <span class="text-left"
                              style="color:#00205C; padding-bottom: 20px; padding-top: 20PX; font-weight: 700;">
                            Las cantidades son estimadas y con las cuales se estructuró tu presupuesto
                        </span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 justify-content-right">
                                <img src="~/Content/Go/imagen/marketplace.jpg" class="justify-content-right: alinea" width="123"
                                     height="63" alt="cemexgo">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 justify-content-right">
                                <img src="~/Content/Go/imagen/construramaCompleto.png" width="123" height="63" alt="cemexgo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="row" style="margin-top: 61px;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <a id="DConcreto" class="button2  Mcemento text-center rounded"
                                   style="margin-top: 3%;">Concreto</a>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <a id="DCemento" class="button2 Mcemento text-center rounded"
                                   style="margin-top: 3%;">Cemento</a>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <a id="DAcero" class="button2 Mcemento text-center rounded"
                                   style="margin-top: 3%;">Acero</a>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <a id="DTierra" class="button2 Mcemento text-center rounded"
                                   style="margin-top: 3%;">
                                    Mov. de Tierra
                                </a>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <a id="DTuberia" class="button2  Mcemento text-center rounded"
                                   style="margin-top: 3%;">
                                    Tuberia hidrosani.
                                </a>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <a id="DEquipos" class="button2 Mcemento text-center rounded"
                                   style="margin-top: 3%;">
                                    Equipos y Herrami.
                                </a>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <a id="Enchape" class="button2 Mcemento text-center rounded"
                                   style="margin-top: 3%;">
                                    Enchape
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <div class="row" id="Cemento">
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                                        <img src="~/Content/Go/imagen/construrama.png" class="" width="78" height="63" alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <img src="~/Content/Go/imagen/cementoBlanco.png" width="181" height="291" style="margin: 10px;"
                                             alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <h6 class="text-left"><a href="https://youtu.be/2arMvCczN24" target="_blank"><i style="margin-left: 15px; color: red;" class="fa-2x fab fa-youtube"></i></a></h6>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <h6 class="text-right">1,000Kgs</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right"> US $8/50Kg</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <hr style="margin: 2px">
                                                <h6 class="text-right">US $160</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                                        <img src="~/Content/Go/imagen/construrama.png" class="" width="78" height="63" alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <img src="~/Content/Go/imagen/cementoVerde.png" width="181" height="291" style="margin: 10px;"
                                             alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right">400Kgs</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right"> US $9/40Kg</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <hr style="margin: 2px">
                                                <h6 class="text-right">US $90</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                                        <img src="~/Content/Go/imagen/construrama.png" class="" width="78" height="63" alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <img src="~/Content/Go/imagen/cementoAmarillo.png" width="181" height="291" style="margin: 10px;"
                                             alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right">20,000Kgs</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right"> US $7/50Kg</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <hr style="margin: 2px">
                                                <h6 class="text-right">US $2,800</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                                        <img src="~/Content/Go/imagen/construrama.png" class="" width="78" height="63" alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <img src="~/Content/Go/imagen/cementoNaranja.png" width="181" height="291" style="margin: 10px;"
                                             alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right">5,000Kgs</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right"> US $5/50Kg</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <hr style="margin: 2px">
                                                <h6 class="text-right">US $500</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="Tuberia">
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                                        <img src="~/Content/Go/imagen/construrama.png" class="" width="78" height="63" alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <img src="~/Content/Go/imagen/tuberia1.jpg" width="181" height="200" style="margin: 10px;"
                                             alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right">1,000Kgs</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right"> US $8/50Kg</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <hr style="margin: 2px">
                                                <h6 class="text-right">US $160</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                                        <img src="~/Content/Go/imagen/construrama.png" class="" width="78" height="63" alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <img src="~/Content/Go/imagen/tuberia2.jpg" width="181" height="200" style="margin: 10px;"
                                             alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right">400Kgs</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right"> US $9/40Kg</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <hr style="margin: 2px">
                                                <h6 class="text-right">US $90</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                                        <img src="~/Content/Go/imagen/construrama.png" class="" width="78" height="63" alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <img src="~/Content/Go/imagen/tuberia3.jpg" width="181" height="200" style="margin: 10px;"
                                             alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right">20,000Kgs</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right"> US $7/50Kg</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <hr style="margin: 2px">
                                                <h6 class="text-right">US $2,800</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                                        <img src="~/Content/Go/imagen/construrama.png" class="" width="78" height="63" alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <img src="~/Content/Go/imagen/tuberia4.jpg" width="181" height="200" style="margin: 10px;"
                                             alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right">5,000Kgs</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right"> US $5/50Kg</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <hr style="margin: 2px">
                                                <h6 class="text-right">US $500</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="concreto">
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                                        <img src="~/Content/Go/imagen/construrama.png" class="" width="78" height="63" alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <img src="~/Content/Go/imagen/concreto1.jpg" width="181" height="189" style="margin: 10px;"
                                             alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right">Vertua</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right"> US $8/50Kg</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <hr style="margin: 2px">
                                                <h6 class="text-right">US $160</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                                        <img src="~/Content/Go/imagen/construrama.png" class="" width="78" height="63" alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <img src="~/Content/Go/imagen/concreto2.jpg" width="181" height="189" style="margin: 10px;"
                                             alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right">Hidratium</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right"> US $9/40Kg</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <hr style="margin: 2px">
                                                <h6 class="text-right">US $90</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                                        <img src="~/Content/Go/imagen/construrama.png" class="" width="78" height="63" alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <img src="~/Content/Go/imagen/concreto3.jpg" width="181" height="189" style="margin: 10px;"
                                             alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right">Promptis</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right"> US $7/50Kg</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <hr style="margin: 2px">
                                                <h6 class="text-right">US $2,800</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                                        <img src="~/Content/Go/imagen/construrama.png" class="" width="78" height="63" alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <img src="~/Content/Go/imagen/concreto4.jpg" width="181" height="189" style="margin: 10px;"
                                             alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right">Insularis</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right"> US $5/50Kg</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <hr style="margin: 2px">
                                                <h6 class="text-right">US $500</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="Movi_tierra">
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                                        <img src="~/Content/Go/imagen/construrama.png" class="" width="78" height="63" alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <img src="~/Content/Go/imagen/mov1.jpg" width="181" height="189" style="margin: 10px;"
                                             alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right">500 x hr</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right"> US $8/50Kg</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <hr style="margin: 2px">
                                                <h6 class="text-right">US $160</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                                        <img src="~/Content/Go/imagen/construrama.png" class="" width="78" height="63" alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <img src="~/Content/Go/imagen/mov2.jpg" width="181" height="189" style="margin: 10px;"
                                             alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right">400 x hr</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right"> US $9/40Kg</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <hr style="margin: 2px">
                                                <h6 class="text-right">US $90</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                                        <img src="~/Content/Go/imagen/construrama.png" class="" width="78" height="63" alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <img src="~/Content/Go/imagen/mov3.jpg" width="181" height="189" style="margin: 10px;"
                                             alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right">280 x hr</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right"> US $7/50Kg</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <hr style="margin: 2px">
                                                <h6 class="text-right">US $2,800</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center">
                                        <img src="~/Content/Go/imagen/construrama.png" class="" width="78" height="63" alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <img src="~/Content/Go/imagen/mov4.jpg" width="181" height="189" style="margin: 10px;"
                                             alt="cemexgo">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right">700 x hr</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <h6 class="text-right"> US $5/50Kg</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row" style="margin-right: 6px;">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <hr style="margin: 2px">
                                                <h6 class="text-right">US $500</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-end">
                <span class="button2 text-center rounded" style="margin-right: 4%;">
                    Total USD
                    3,550
                </span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-end">
                <span class="" style="margin-right: 4%; margin-bottom: 90px; color: #00205C">
                    El transporte de este
                    material
                    tendría un costo adicional de USD 500
                </span>
            </div>
        </div>
    </div>
@section scripts{
<script>

    $(document).ready(function () {
        let url_hash = location.hash;
        switch (url_hash) {
            case "#cemento":
               
                $("#DCemento").click();
                break;
            case "#concreto":
                $("#DConcreto").click();
                break;
            case "#tuberia":
                $("#DTuberia").click();
                break;
            case "#movientotierra":
                $("#DTierra").click();
                break;
               
        }

    });
   
</script>    
}