body{
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif;
}

.color{
    background: #003976;
    margin: 0px;
    height: 55px;
    border-bottom: 3px solid #f44336!important;
}
.color2{
    background: #003976;
}
.Area_Izquierda img{
    margin: 0;
    padding: 0;
}
.cemexBlanco{
    width: 100px;
}
.texto{
    text-decoration: none;
    color: #809CAF;
    margin-right: 27px;
    font-weight: 400;
}
.texto2{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: -7px;
    font-weight: 400;
}

.wafle{
    border-left: #254A72 2px solid;
    border-right: #254A72 2px solid;
}

.margenes{
    margin-left: 7px;
}

.sidebar{
    background: #003976;
    margin-top: 51px;
    padding-top: -2px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}
.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover{
    background: #254A72;
}
.sidebar i{
    padding-right: 10px;
}

label #idebar_btn{
    z-index: 1;
    position: fixed;
    cursor: pointer;
    left: 100px;
    transition: 0.5s;
    transition-property: color;
}

#check:checked ~ .sidebar{
    left: -190px;
}

#check:checked ~ .sidebar a span{
    display: none;
}

#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

.valor{
    padding-left: 220px;
    font-weight: 800;
    color: #889db3;
}

#check{
    display: none;
}
.content{
    background-color: #dce0e6;
    overflow: hidden;
}
.content2{
    margin-top: 35px;
    margin-right: 0px;
    background-color: #00205C;

}
.content3{
    margin-top: 55px;
    margin-right: 0px;
}

.content4{
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 0px;
}

#check:checked ~ .content{
    margin-left: 60px;
}
#check:checked ~ .content5{
    margin-left: 60px;
}

.content5{
    margin-left: 250px;
    background-color: #003976;


    height: -1vh;
    transition: 0.5s;
}

.pie{
    padding-top: 0px;
    background: #003976;
}

.button {
    background-color: #00A9FC;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
.icono{
    background-color: #00205C;
    border-radius: 16px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    width: 95px;
    height: 102px;
    padding: 0px;
    margin-top: 15px;
}

.alinear{
    margin-top: 37px;
    margin-left: 30px;
}

.cuadro{
    width: 355px;
    height: 150px;
    background-color: white;
    padding: 10px;
    margin-bottom: 7%;
}

.etiqueta{
    margin-top: 52px;
    padding: 0px;
    margin-left: 35px;
}
 .buildFormulario{
    background-color: white;
    padding: 0px;
 }
 form{
     padding-top: 18px;
 }

 label{
    color: #00205C;
    font-weight: 700;
 }

 .button2 {
    background-color: #00205C;
    border: none;
    color: white;
    padding: 9px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.cuadro2{
    width: 314px;
    height: 260px;
    background-color: white;
    padding: 10px;
    margin-bottom: 7%;
}

.etiqueta2 {
    margin-top: 10px;
    padding: 0px;
}

.cuadro3{
    width: 848px;
    height: 762px;
    background-color: white;
    padding: 10px;
    margin-bottom: 7%;
}

.cuadro4{
    width: 848px;
    height: 1090px;
    background-color: white;
    padding: 10px;
    margin-bottom: 7%;
}

.contenedor{
    background-color: #fff;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 19px;
}
.Mcemento{
    width: 200px;
    background-color: #fff;
    border: 2px solid #00205C!important;
    color: #00205C;
    font-weight: 700;
}

.Mcemento2{
    width: 200px;
    background-color: #00205C;
    border: 2px solid #fff!important;
    color: #fff;
    font-weight: 700;
}
a {
    text-decoration: none!important;